body {
  background-color: #fefcfa;
}

ul.collection {
  padding: 40px 20px;
}

ul.collection li.collection-item {
  background-color: transparent;
  font-size: 18px;
  border: none
}

.liked {
  color:goldenrod;
  vertical-align: middle;
}